<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word!</title>
    <link rel="stylesheet" href="./styles.css">
  </head>
  <body>
    <main>
      <a href="/" class="redoBtn">Again.</a>
      <div class="wordCont">
        <h2>
          {{#word}}
            {{id}}
          {{/word}}
        </h2>
        {{^word}}
        <p>Word Error</p>
        {{/word}}
      </div>
      <div class="alertBar">
        <p>{{alert}}</p>
      </div>
      <form class="inputForm" >
        <label for="guess">Letter</label><input autocomplete="off" autofocus="true" maxlength="1" type="text" name="guess" value="L"><p class='guesses'>Guesses: None.</p>
      </form>
      <div class="usedLetters">
        <h3>Guessed:</h3>
        <ul class="guessedUl">
          {{#letters}}
            <li>{{print}}</li>
          {{/letters}}
        </ul>
      </div>
    </main>
  </body>
</html>
